div#elements{
    /* height: 100%; */
    width: 100%;
    /* overflow: scroll; */
    display: flex;
}

/* #elements.Default{
    background-color: red;
}
#elements.Comfortable{
    background-color: blue;
}
#elements.Compact{
    background-color: violet;
} */

div#elements .element{
    /* width: 50%; */
    margin:0;
    min-height: 400px;
    /* overflow: scroll; */
    border:1px solid grey;
}
#elements.Default .element{
    width: 50%;
}
#elements.Comfortable #player-layout {
    width: 40%;
    height: auto;
    
}

#elements.Comfortable #iframe-layout {
    width: 60%;
    height: auto;

}

#elements.Compact #player-layout {
    width: 30%;
}

#elements.Compact #iframe-layout {
    width: 70%;
}

#card-section{
    margin-top: 15px ;
}
#card-section .card-box{
    transition: 1s;
    cursor: pointer;
}
#card-section .card-box:hover{
    background-color: aquamarine;
}