div#elements{
    background-color: red;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
}

#elements.Default{
    background-color: red;
}
#elements.Comfortable{
    background-color: blue;
}
#elements.Compact{
    background-color: violet;
}

div#elements .element{
    width: 50%;
    margin:0;
    height: 200px;
    background: white;
}
