
.player[data-view-type='video'] {
  --media-tooltip-y-offset: 10px;
  --media-menu-y-offset: 10px;
  --media-border-radius: 6px;
  aspect-ratio: 16 /9;
  background-color: #212121;
  border-radius: var(--media-border-radius);
  contain: layout;
}

.player video,
.poster {
  border-radius: var(--media-border-radius);
}

.vds-button{
  width: 5px!important;
}

.srcButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-inline: auto;
  max-width: 20px;
}